body,
.canvas-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.canvas-container {
	width: 1200px;
	height: 600px;
}

canvas {
	position: fixed;
}
