body,
.canvas-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	/*
	background: #115950;
	background: -moz-linear-gradient(-45deg, #115950 0%, #146b65 27%, #1cafab 71%, #4ac4bc 100%);
	background: -webkit-linear-gradient(
		-45deg,
		#115950 0%,
		#146b65 27%,
		#1cafab 71%,
		#4ac4bc 100%
	);
	background: linear-gradient(
		135deg,
		#115950 0%,
		#146b65 27%,
		#1cafab 71%,
		#4ac4bc 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#115950',
			endColorstr='#4ac4bc',
			GradientType=1
		);
*/
	background: black;
	min-height: 100vh;
}

nav {
	background: slategray;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 60px;
	box-shadow: 0px 0px 8px 0px inset rgba(0, 0, 0, 0.8);
}

.game-title {
	position: absolute;
	font-size: 36px;
	color: white;
	font-family: 'Faster One', cursive;
	/* font-family: 'Black Ops One', cursive; */
}

.nav-links-list {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.nav-links-list li {
	margin: 10px;
}

.logo {
	width: 48px;
	height: 48px;
}

.main-container {
	display: flex;
	width: 100%;
}

.sprite-group-container {
	width: calc(50% - 600px);
	position: relative;
}

.sprite {
	transform-origin: top left;
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
}

.sprite-container {
	overflow: hidden;
	position: absolute;
}

.sprite-container.ship {
	width: 60px;
	height: 90px;
	top: 450px;
	left: 40px;
}

.sprite.ship {
	transform: rotate(270deg) translateX(-151%) translateY(-42%) scale(3, 3);
	-webkit-transform: rotate(270deg) translateX(-151%) translateY(-42%) scale(3, 3);
	-ms-transform: rotate(270deg) translateX(-151%) translateY(-42%) scale(3, 3);
}

.sprite-container.crystal {
	width: 24px;
	height: 60px;
	top: 50px;
	left: 180px;
}

.sprite.crystal {
	transform: scale(4, 4);
	-webkit-transform: scale(4, 4);
	-ms-transform: scale(4, 4);
}

.sprite-container.enemy-small {
	width: 64px;
	height: 64px;
	top: 250px;
	left: 120px;
}

.sprite-container.enemy-large {
	width: 128px;
	height: 128px;
	top: 20px;
	left: 0px;
}

.sprite.enemy-small,
.sprite.enemy-large {
	transform: rotate(270deg) translateX(-100%);
	-webkit-transform: rotate(270deg) translateX(-100%);
	-ms-transform: rotate(270deg) translateX(-100%);
}

.sprite-container.bullet {
	width: 16px;
	height: 16px;
}

.sprite-container.bullet-1 {
	top: 200px;
	left: 30px;
}

.sprite-container.bullet-2 {
	top: 280px;
	left: 60px;
}

.sprite-container.bullet-3 {
	top: 360px;
	left: 90px;
}

.sprite.bullet {
	transform: rotate(270deg) translateX(-100%);
	-webkit-transform: rotate(270deg) translateX(-100%);
	-ms-transform: rotate(270deg) translateX(-100%);
}

.canvas-container {
	justify-content: center;
	width: 1200px;
	height: 600px;
	background: darkslategray;
	background: #154239; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #154239 0%, #184c4b 29%, #0f2f2c 73%, #0d2724 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#154239 0%,
		#184c4b 29%,
		#0f2f2c 73%,
		#0d2724 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#154239 0%,
		#184c4b 29%,
		#0f2f2c 73%,
		#0d2724 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#154239',
			endColorstr='#0d2724',
			GradientType=1
		); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0px 0px 8px 8px inset rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	position: relative;
}

canvas {
	position: fixed;
	outline: none;
}

#game-canvas {
	border: 2px solid slategray;
}

.HUD-background-box {
	position: absolute;
	width: 160px;
	background: slategray;
	top: 130px;
	box-shadow: 0px 0px 6px 6px inset rgba(0, 0, 0, 0.4);
}

.HUD-background-box.left {
	height: 200px;
	left: 20px;
}

.HUD-background-box.right {
	height: 340px;
	right: 20px;
}
